.recipient-card {
    margin: 0 0 3.5rem 0;
    padding: 1rem;
    text-align: left;
    border: 1px solid var(--gray-light);
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 var(--green-light);
}

.gift-table {
    width: 100%;
}

.gift-table tbody tr:nth-of-type(odd) {
    background-color: var(--gray-dark);
}

.gift-table tbody tr:nth-of-type(even) {
    background-color: var(--gray-darkest);
}

.gift-table tbody tr td {
    padding: 0.25rem;
}

.add-gift-form-container {
    display: none;
}

.add-gift-form-container.active {
    display: block;
}

.new-gift-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 899px) {
    .new-gift-form {
        flex-direction: column;
        align-items: baseline;
    }

    .new-gift-form label .label-text {
        width: 100px;
    }
}

@media screen and (max-width: 599px) {
    .new-gift-form {
        align-items: stretch;
    }

    .new-gift-form label {
        flex-wrap: wrap;
    }

    .new-gift-form label .label-text {
        width: 100%;
    }
}


.new-gift-form label {
    margin: 0.5rem 1rem 0.5rem 0;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.new-gift-form .label-text {
    padding: 0 0.5rem 0 0;
    font-weight: bold;
}

.new-gift-form label input,
.new-gift-form label select {
    flex: 1 0 auto;
    padding: 0.5rem;
}

@media (prefers-color-scheme: light) {
    .recipient-card {
        border: 2px solid var(--green-primary);
        background-color: var(--white);
        box-shadow: 0 0 5px var(--green-light);
    }

    .gift-table tbody tr:nth-of-type(odd) {
        background-color: var(--gray-lightest);
    }
    
    .gift-table tbody tr:nth-of-type(even) {
        background-color: var(--white-soft);
    }
  }