.gift-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    background-color: var(--black);
    border: 1px solid var(--gray-dark);
    border-radius: 4px;
}

.gift-table tbody {
    white-space: nowrap;
}

.gift-table tbody tr:nth-of-type(odd) {
    background-color: var(--gray-dark);
}

.gift-table tbody tr:nth-of-type(even) {
    background-color: var(--gray-darkest);
}

.gift-table td,
.gift-table th {
    padding: 0.5rem;
    width: 1%;
}

.add-gift-form-container {
    display: none;
}

.add-gift-form-container.active {
    display: block;
}

.new-gift-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 899px) {
    .new-gift-form {
        flex-direction: column;
        align-items: baseline;
    }

    .new-gift-form label .label-text {
        width: 100px;
    }
}

@media screen and (max-width: 599px) {
    .new-gift-form {
        align-items: stretch;
    }

    .new-gift-form label {
        flex-wrap: wrap;
    }

    .new-gift-form label .label-text {
        width: 100%;
    }
}


.new-gift-form label {
    margin: 0.5rem 1rem 0.5rem 0;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.new-gift-form .label-text {
    padding: 0 0.5rem 0 0;
    font-weight: bold;
}

.new-gift-form label input,
.new-gift-form label select {
    flex: 1 0 auto;
    /* padding: 0.5rem; */
}

@media (prefers-color-scheme: light) {
    .gift-table {
        background-color: var(--white);
    }

    .gift-table tbody tr:nth-of-type(odd) {
        background-color: var(--gray-lightest);
    }

    .gift-table tbody tr:nth-of-type(even) {
        background-color: var(--white-soft);
    }
}