#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.add-btn-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.add-btn-row .btn {
    margin: 0 1rem;
}

.new-recipient-form-container {
    display: flex;
    justify-content: center;
}